body{
    background:url("../img/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main_window{
    width: 1280px;
    margin: 0 auto;
}
.pricing-table{
    background-color: #F0F0F0;
    border-spacing: 0;

}
.table-item{
    width: 157px;
    height: 112px;
}
/*.table-title{*/
    /*width: 198px;*/
    /*height: 167px;*/
/*}*/