
body {
    background: url("../img/Background.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.main_window {
    width: 1280px;
    margin: 0 auto;
}

.pricing-table {
    background-color: #F0F0F0;
    border-spacing: 0;
}

.table-title {
    width: 310px;
    height: 69px;
    text-align: center;
    background-color: #fafafa;
    border-right: 1px solid #dddddd;
}

.table-title-text {
    position: relative;
    top: 40px;
    font-family: Amiro, sans-serif;

}

.choose-your {
    color: #484848;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Amiro, sans-serif;
    margin: 0;
}

.pricing-plan {
    color: #484848;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0 0 75px 0;
}

.standard {
    background-color: #89c331;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.ultimate {
    background-color: #f04a56;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.premium {
    background-color: #20807c;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}

.standard-text {
    position: relative;
    font-family: Amiro, sans-serif;

}

.ultimate-text {
    position: relative;
    font-family: Amiro, sans-serif;
}

.premium-text {
    position: relative;
    font-family: Amiro, sans-serif;
}

.plan-item {
    text-align: center;
    width: 309px;
    height: 69px;
    background-color: #f2f2f2;
    color: #484848;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 400;

    text-transform: uppercase;
    border-right: 1px solid #dddddd;
}

.table-item {
    width: 277px;
    height: 69px;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;

    border-right: 1px solid #dddddd;

}

.nth-child {
    background-color: #e3e3e3;
}

.table-buy {
    height: 110px;
}

.top-text {
    color: #484848;
    font-size: 60px;
    font-weight: 700;
    display: inline;
    position: relative;
    right: 35px;
    top: 9px;
}

.upp-text {
    color: #484848;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    bottom: 25px;
    top: -25px;

}

.per-month {
    font-size: 18px;
    color: #696969;
    position: relative;
    bottom: 20px;
    left: 48px;
    margin: 0;
    font-family: ﻿AdobeInvisFont, ﻿Arimo, ﻿Courier, sans-serif;
}

.link {
    text-decoration: none;
}

.contact-us {
    position: relative;
    bottom: 5px;
    left: 58px;
    width: 192px;
    height: 42px;
    background-color: #484848;
    border-bottom: 7px solid #404040;
    border-radius: 5px;
}

.contact-us:hover {
    background-color: #8d8d8d;
    border-color: #8d8d8d;
}

.buy-now-1 {
    position: relative;
    bottom: 5px;
    left: 58px;
    width: 192px;
    height: 42px;
    background-color: #89c331;
    border-radius: 5px;
    border-bottom: 7px solid #79b027;
}

.buy-now-1:hover {
    background-color: #9ed737;
    border-color: #9ed737;
}

.buy-now-2 {
    position: relative;
    bottom: 5px;
    left: 58px;
    width: 192px;
    height: 42px;
    background-color: #f04a56;
    border-radius: 5px;
    border-bottom: 7px solid #df3a46;
}

.buy-now-2:hover {
    background-color: #c62d00;
    border-color: #c62d00;
}

.buy-now-3 {
    position: relative;
    bottom: 5px;
    left: 58px;
    width: 192px;
    height: 42px;
    background-color: #20807c;
    border-radius: 5px;
    border-bottom: 7px solid #16736f;
}

.buy-now-3:hover {
    background-color: #2cceca;
    border-color: #2cceca;
}

.table-button {
    width: 277px;
    height: 100px;
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #dddddd;
}

.button-text {
    position: relative;
    top: 15px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-family: ﻿AdobeInvisFont, ﻿Arimo-Bold, ﻿Courier, sans-serif;

}

.icon {
    margin-right: 12px;

    color: rgba(132, 132, 132, 255);
    text-align: center;
}